{% extends "profile/base.html" %}

{% block css %}
{{ super.block }}
<link href="{{ MEDIA_URL }}css/table.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}css/profile/base.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block js %}
{{ super.block }}
<script language="JavaScript"
        src="http://actionspeaksradio.org/js/audio-player.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/profile/base.js"></script>
{% endblock %}


{% block content %}

{% if artist_list %}
<article>
  <h1>You represent the following artists</h1>
  {% for artist in artist_list %}
  <div class="artist" id="artist-{{ artist.id }}">
    <h2>{{ artist }}</h2>
    {% ifequal user artist.user %}
    <div class="controls">
      <a class="button green"
         href="{% url artist_update artist.id %}">edit</a>
      <a class="button orange"
         href="{% url artist_delete artist.id %}">delete</a>
      <a class="button aqua"
         href="{% url song_create artist.id %}">upload song</a>
      <a class="button purple"
         href="{% url photo_upload artist.id %}">upload photo</a>
    </div>
    {% endifequal %}
  </div>
  {% endfor %}
  <div style="clear">&nbsp;</div>
    <a class="button aqua"
       href="{% url artist_create %}">Add Another Artist</a>
</article>

<article>
  <h1>You have uploaded the following music</h1>
  <table class="sorted" style="clear: right">
    <thead>
      <tr>
        <th>Artist</th>
        <th>Song</th>
        <th>Number of plays</th>
        <th>Controls</th>
      </tr>
    </thead>
    <tbody>
      {% for artist in artist_list %}
      {% for song in artist.song_set.all %}
      <tr>
        <td>
          <a href="{% url artist_detail artist.id %}">{{ artist }}</a>
        </td>
        <td>
          <a href="{% url song_detail song.id %}">{{ song }}</a>
        </td>
        <td>
          {{ song.number_of_plays }}
        </td>
        <td>
          <script language="JavaScript" src="{{ MEDIA_URL }}js/audio-player.js"></script>
          <object type="application/x-shockwave-flash" data="{{ MEDIA_URL }}flash/player.swf" id="audioplayer1" height="24" width="200">
            <param name="movie" value="{{ MEDIA_URL }}flash/player.swf">
            <param name="FlashVars" value="playerID=audioplayer1&soundFile={% url song_play song.id %}">
            <param name="quality" value="high">
            <param name="menu" value="false">
            <param name="wmode" value="transparent">
          </object>
        </td>
      </tr>
      {% endfor %}
      {% endfor %}
    </tbody>
  </table>
  <div style="clear">&nbsp;</div>
</article>

{% else %}
<article>
  <h1>Welcome {{ first_name }}</h1>
  <p>
    Welcome to the AS220 Jukebox. Your profile is the location where you can
    manage your uploaded music, photos, and videos.
  </p>
  <p>
    The process for uploading music into the Jukebox proceeds in 3 steps.
  </p>

  <h2>Step 1</h2>
  <p>
    Create an artist that represents the music being uploaded. This includes
    the artist details like name and description as well as critical
    information like where payment should be directed.
  </p>
  <h2>Step 2</h2>
  <p>
    Upload mp3 audio files for that artist.
  </p>
  <h2>Step 3</h2>
  <p>
    Profit each time the song is played in AS220's Jukebox.
  </p>
  <h2>Optional Step(s)</h2>
  <p>
    Upload pictures and videos for the artist to provide incentive for users to
    play your music.
  </p>
  <p>
    <a class="button aqua"
       href="{% url artist_create %}">Create Artist to Get Started</a>
  </p>
  <div style="clear">&nbsp;</div>
</article>
  {% endif %}


{% endblock %}

