{% extends "profile/base.html" %}

{% block js %}
{{ super.block }}
<script language="JavaScript"
        src="http://actionspeaksradio.org/js/audio-player.js"></script>
{% endblock %}


{% block content %}

{% if artist_list %}

{% for artist in artist_list %}
<article>
  <h1>{{ artist.name }}</h1>
  <h2>Songs</h2>
  <ul class="songs">
    {% for song in artist.song_set.all %}
    <li>{{ song }}</li>
    {% endfor %}
  </ul>
</article>
{% endfor %}

{% else %}
<article>
  <p>
    You have not uploaded any music.
  </p>
  <p>
    <a class="button aqua"
       href="{% url artist_create %}">Click here</a>
    to get started.
  </p>
</article>
{% endif %}

{% endblock %}

