{% extends "music/song_base.html" %}

{% block css %}
{{ super.block }}
<link href="{{ MEDIA_URL }}css/form.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<article>
  <h1>Upload Photo</h1>
  <form action=""
        enctype="multipart/form-data"
        method="post">
    {{ form.as_p }}
    <p>
      <input id="submit"
             class="button orange"
             type="submit" value="Submit" />
    </p>
  </form>
  <div class="clear">&nbsp;</div>
</article>
{% endblock %}
