{% extends "media/artist_base.html" %}
{% load markup %}
{% load digg_templatetag %}
{% load is_registered_by %}


{% block title %}{{ block.super }} - Artist List{% endblock %}

{% block css %}
{{ block.super }}
<link href="{{ MEDIA_URL }}css/artist/artist_list.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}

{% if artist_list %}

{% digg_paginator %}

{% for artist in artist_list %}

{% if artist.song_set.all or artist|is_registered_by:user %}
<article id="artist-{{ artist.id }}">

  {% ifequal user artist.user %}
  <div class="controls">
    <a class="button green"
       href="{% url artist_update artist.id %}">edit</a>
    <a class="button orange"
       href="{% url artist_delete artist.id %}">delete</a>
    <a class="button aqua"
       href="{% url song_create artist.id %}">upload song</a>
    <a class="button purple"
       href="{% url photo_upload artist.id %}">upload photo</a>
  </div>
  {% endifequal %}

  <a href="{{ artist.get_absolute_url }}">
    <h1 class="name">{{ artist }}</h1>
  </a>
  {% with artist.random_photo as photo %}
  {% if photo %}
  <div class="photo">
    <img src="{{ MEDIA_URL }}{{ photo.image }}"
         alt="{{ photo.caption }}"
         width="200" />
  </div>
  {% endif %}
  {% endwith %}
  <div class="song-info">
    {% if artist.song_set.all %}
    (
    {% if artist.album_set.all %}
    {{ artist.album_set.all|length }} album{{ artist.album_set.all|pluralize }}
    {% endif %}
    {{ artist.song_set.all|length }} track{{ artist.song_set.all|pluralize }}
    )
    {% else %}
    ( No songs currently uploaded )
    {% endif %}
  </div>

  <div class="timestamp">
    added on: {{ artist.added_on|date }}
  </div>

  <div class="description">
    {{ artist.description|markdown|truncatewords_html:100 }}
    <a class="button grey more"
       href="{% url artist_detail artist.id %}">
      more
      <span></span>
    </a>
  </div>
  <div class="clear">&nbsp;</div>
</article>

{% endif %}
{% endfor %}

{% digg_paginator %}

{% else %}

<article>
  <h1>Sorry! Can't find any artists!</h1>
  <p>
    I'm sorry but it seems that there aren't any artists that match the
    criteria by which you were attempting to list them.
  </p>
</article>

{% endif %}

{% endblock %}

