*.pyc
dev.db
fixtures
fixtures/initial_data.json
jukebox.sqlite3
settings.py
lib/*.gz
lib/*.deb
lib/eyed3-0.6.17/Makefile
lib/eyed3-0.6.17/build-stamp
lib/eyed3-0.6.17/build/*
lib/eyed3-0.6.17/config.guess
lib/eyed3-0.6.17/config.log
lib/eyed3-0.6.17/config.status
lib/eyed3-0.6.17/config.sub
lib/eyed3-0.6.17/debian/eyed3.debhelper.log
lib/eyed3-0.6.17/debian/eyed3.substvars
lib/eyed3-0.6.17/debian/eyed3/
lib/eyed3-0.6.17/debian/files
lib/eyed3-0.6.17/debian/python-eyed3.debhelper.log
lib/eyed3-0.6.17/debian/python-eyed3.postinst.debhelper
lib/eyed3-0.6.17/debian/python-eyed3.prerm.debhelper
lib/eyed3-0.6.17/debian/python-eyed3.substvars
lib/eyed3-0.6.17/debian/python-eyed3/
lib/eyed3-0.6.17/doc/eyeD3.1
lib/eyed3-0.6.17/etc/eyeD3.spec
lib/eyed3-0.6.17/patch-stamp
lib/eyed3-0.6.17/setup.py
lib/eyed3-0.6.17/src/eyeD3/__init__.py
lib/eyed3_0.6.17-1.dsc
lib/eyed3_0.6.17-1.tar.gz
lib/eyed3_0.6.17-1_i386.changes
static_media/music/songs/*
static_media/music/photos/*
