{% extends "base.html" %}

{% block content %}
<article>
  <h1>Well this is embarassing.</h1>

  <p>
    Looks like something went wrong with the website. An error message was sent
    to the jukebox admins with information about the problem. Please bear with
    us as we have a limited programming staff (aka 1 person working part time).
  </p>

  <p>
    If you'd like to help out, you could email feedback to jukebox@as220.org
    with further contextural information as to what you were attempting to do
    when the site broke.
  </p>

</article>
{% endblock %}

