{% extends "base.html" %}

{% block content %}

<article>
  <p class="question">
    Q: My band is a big deal, and is signed to a fancy-pants label with sweet
    distro. We are, therefore, a BMI/ASCAP band. Can we still be included in
    the Jukebox, or play at AS220 for that matter?
  </p>
  <p class="answer">
    A: Hell yes. As long as you give us permission to play your music outside
    of the predatory sphere of license-sharks, we can cut the BS and pay you
    direct. High Five!
  </p>
</article>

<article>
  <p class="question">
    Q: What if my band breaks up and checks get sent to our estranged guitar
    player with whom I am embroiled in a deep personal vendetta?
  </p>
  <p class="answer">
    A: Not AS220's problem, though we suggest you do your best to figure it out
    like adults. Maybe talk out a pre-nup before designating your band
    representative.
  </p>
</article>

<article>
  <p class="question">
    Q: What if I only have 75 plays come November, and my check would be just
    under the $15 minimum?
  </p>
  <p class="answer">
    A: Sorry. You'll have to wait until next year, or sweet talk your friends
    into playing your songs as much as possible in late October. It'll be like
    playing a whole Tom Petty record on repeat at the Hot Club, but with a
    spunky DIY flavor.
  </p>
</article>

<article>
  <p class="question">
    Q: What if I have you make out a check to my band, but then we never open
    an account in the band's name and I'm scared to try to talk the bank teller
    into accepting a check made out to "Master of Pussy"?
  </p>
  <p class="answer">
    A: Dude. Seriously? This is why we asked you to pick a point person.
  </p>
</article>

{% endblock %}

