{% extends "media/artist_base.html" %}
{% load markup %}


{% block title %}{{ block.super }} - Artist: {{ artist }}{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.colorbox-min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/artist/artist_detail.js"></script>
{% endblock %}

{% block css %}
{{ block.super }}
<link href="{{ MEDIA_URL }}css/colorbox.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}css/artist/artist_detail.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<article id="artist-{{ artist.id }}">

  {% ifequal user artist.user %}
  <div class="controls">
    <a class="button green"
       href="{% url artist_update artist.id %}">edit</a>
    <a class="button orange"
       href="{% url artist_delete artist.id %}">delete</a>
    <a class="button aqua"
       href="{% url song_create artist.id %}">upload song</a>
    <a class="button purple"
       href="{% url photo_upload artist.id %}">upload photo</a>
  </div>
  {% endifequal %}

  {% if artist.song_set.all %}
  <div class="songs">
    <h2>Songs</h2>
    <ol>
      {% for song in artist.song_set.all %}
      <li>
        <a href="{{ song.get_absolute_url }}">
          {{ song.title }}
        </a>
      </li>
      {% endfor %}
    </ol>
  </div>
  {% endif %}

  <h1 class="name">{{ artist }}</h1>

  <div class="timestamp">
    added on: {{ artist.added_on|date }} |
    updated on: {{ artist.updated_on|date }}
  </div>

  {% if artist.photo_set.all %}
  <div class="photos">
    <h2>Photos</h2>
    <div class="thumbnails">
      {% for photo in artist.photo_set.all %}
      <a href="{{ MEDIA_URL }}{{ photo.photo }}"
         rel="thumbnail" title="{{ photo.caption }}">
        <img src="{{ MEDIA_URL }}{{ photo.photo }}" alt="{{ photo.caption }}"
             width="200" />
      </a>
      {% endfor %}
    </div>
  </div>
  {% endif %}

  {% if artist.description %}
  <div class="description">
    <h2>Description</h2>
    {{ artist.description|markdown }}
  </div>
  {% endif %}

  <a class="button grey" href="{% url artist_list %}#artist-{{ artist.id }}">
    back
  </a>

  <div class="clear">&nbsp;</div>
</article>
{% endblock %}

