{% extends "media/song_base.html" %}
{% load markup %}
{% load digg_templatetag %}


{% block title %}{{ block.super }} - All Songs{% endblock %}

{% block content %}

{% if song_list %}

{% digg_paginator %}

{% for song in song_list %}
<article id="song-{{ song.id }}">
  <a href="{{ song.get_absolute_url }}">
    <h1 class="title">{{ song.title }}</h1>
  </a>
  <a href="{{ song.artist.get_absolute_url }}">
    <h2 class="artist-name">by {{ song.artist.name }}</h2>
  </a>
  <div class="timestamp">
    added on: {{ song.uploaded_on|date }}
  </div>
  <div class="description">
    {{ song.description|markdown|truncatewords_html:100 }}
    <a href="{% url song_detail song.id %}">more</a>
  </div>
</article>
{% endfor %}

{% digg_paginator %}

{% else %}

<article>
  <h1>Doh! I can't find any songs.</h1>

  <p>
    I'm sorry but it seems that there aren't any songs that match that criteria
    by which you are attempting to list them.
  </p>
</article>

{% endif %}

{% endblock %}

