{% extends 'base.html' %}

{% load seconds_to_duration %}

{% block content %}

<p>
  <a href="/music/">Back</a>
</p>

<p>
  <h1 class="song" id="song-{{ song.id }}">
    <span class="title" id="title-{{ song.id }}">"{{ song.title }}"</span>
    <span class="artist" id="artist-{{ song.artist.id }}">(by {{ song.artist }})</span>
  </h1>

  <div class="controls">
    <a href="{% url song_update song.id %}">edit</a><br/>
    |
    <a href="{% url song_delete song.id %}">delete</a><br/>
    |
    <object type="application/x-shockwave-flash"
            data="http://actionspeaksradio.org/flash/player.swf"
            id="audioplayer1" height="24" width="290">
      <param name="movie" value="http://actionspeaksradio.org/flash/player.swf">
      <param name="FlashVars"
             value="playerID=audioplayer1&amp;soundFile={{ MEDIA_URL }}{{ song.file }}">
      <param name="quality" value="high">
      <param name="menu" value="false">
      <param name="wmode" value="transparent">
    </object>
  </span>

  Title: {{ song.title }}<br/>

  Artist: {{ song.artist }}<br/>

  Album: {{ song.album }}<br/>

  Bitrate: {{ song.bitrate }} kbps<br/>

  Variable bitrate: {{ song.bitrate_variable }} <br/>

  Duration: {{ song.duration|sec_to_dur }}<br/>

  Sample frequency: {{ song.sample_frequency }}<br/>

  Track number: {{ song.track_number }}<br/>

  Genre: {{ song.genre }}<br/>

  Created on: {{ song.created_on }}<br/>

  Modified on: {{ song.created_on }}<br/>
</p>

{% endblock %}

