{% extends "base.html" %}

{% block content %}

{% if album_form.has_errors %}
<h2>Please correct the following error{{ album_form.errors|pluralize }}:</h2>
{% endif %}

{% if artist_form.has_errors %}
<h2>Please correct the following error{{ artist_form.errors|pluralize }}:</h2>
{% endif %}

{% if genre_form.has_errors %}
<h2>Please correct the following error{{ genre_form.errors|pluralize }}:</h2>
{% endif %}

{% if song_form.has_errors %}
<h2>Please correct the following error{{ song_form.errors|pluralize }}:</h2>
{% endif %}

<form action=""
      enctype="multipart/form-data"
      method="post">
  <fieldset>
    <legend>Update Song</legend>
    <p>
      {{ song_form.title.errors }}
      <label for="id_song-title">Song Title:</label>
      {{ song_form.title }}
    </p>
    <p>
      {{ artist_form.name.errors }}
      <label for="id_artist-name">Artist Name:</label>
      {{ artist_form.name }}
    </p>
    <p>
      {{ artist_form.website.errors }}
      <label for="id_artist-website">Artist Website:</label>
      {{ artist_form.website }}
    </p>
    <p>
      {{ album_form.title.errors }}
      <label for="id_album-title">Album Title:</label>
      {{ album_form.title }}
    </p>
    <p>
      {{ genre_form.name.errors }}
      <label for="id_genre-name">Genre Name:</label>
      {{ genre_form.name }}
    </p>
    <input type="submit" value="Submit" />
  </fieldset>
</form>

{% endblock %}

