{% extends "base.html" %}

{% load seconds_to_duration %}

{% block css %}
<link href="{{ MEDIA_URL }}css/song_list.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block js %}
<script language="javascript"
        src="{{ MEDIA_URL }}js/audio-player.js"></script>
<script language="javascript"
        src="{{ MEDIA_URL }}js/jquery.tablesorter.min.js"></script>
<script language="javascript"
        src="{{ MEDIA_URL }}js/song_list.js"></script>
{% endblock %}

{% block content %}

<h1>Songs</h1>
<a href="{% url song_upload %}">Upload a new song.</a>

<table class="tablesorter">
  <thead>
    <tr>
      <th>
        Artist
      </th>
      <th>
        Song
      </th>
      <th>
        Album
      </th>
      <th>
        Duration
      </th>
      <th>
        Controls
      </th>
      <th>
        Play
      </th>
      <th>
        Reviewed
      </th>
    </tr>
  </thead>
  <tbody>
    {% for song in song_list %}
    <tr class="song {% cycle 'odd' 'even' %}" id="song-{{ song.id }}">
      <td class="artist" id="artist-{{ song.artist.id }}">
        <a href="{{ song.get_absolute_url }}">
          {{ song.artist }}
        </a>
      </td>
      <td class="title" id="song-{{ song.id }}">
        <a href="{{ song.get_absolute_url }}">
          {{ song.title }}
        </a>
      </td>
      <td class="album" id="album-{{ song.album.id }}">
        <a href="{{ song.get_absolute_url }}">
          {{ song.album }}
        </a>
      </td>
      <td class="duration" id="album-{{ song.album.id }}">
        <a href="{{ song.get_absolute_url }}">
          {{ song.duration|sec_to_dur }}
        </a>
      </td>
      <td class="controls">
        <a href="{% url song_update song.id %}">edit</a>
        |
        <a href="{% url song_delete song.id %}">delete</a>
      </td>
      <td class="play">
        <object type="application/x-shockwave-flash"
                data="http://actionspeaksradio.org/flash/player.swf"
                id="audioplayer1" height="24" width="290">
          <param name="movie" value="http://actionspeaksradio.org/flash/player.swf">
          <param name="FlashVars"
                 value="playerID=audioplayer1&amp;soundFile={{ MEDIA_URL }}{{ song.file }}">
          <param name="quality" value="high">
          <param name="menu" value="false">
          <param name="wmode" value="transparent">
        </object>
      </td>
      <td class="reviewed">
        {{ song.reviewed }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}

