{% extends "base.html" %}
{% load digg_templatetag %}

{% block css %}
{{ super.block }}
<link href="{{ MEDIA_URL }}css/table.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}css/review/base.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block js %}
{{ super.block }}
<script type="text/javascript" src="{{ MEDIA_URL }}js/review/base.js"></script>
{% endblock %}


{% block content %}


<article>
{% if song_list %}
{% digg_paginator %}

<table class="sorted">
  <thead>
    <tr>
      <th>Artist</th>
      <th>Song</th>
      <th>Uploaded on</th>
      <th>Review</th>
      <th>Play</th>
      <th>User</th>
      <th>Firstname Lastname</th>
      <th>
        User Email<br />
        Artist Email<br />
      </th>
      <th>Artist Address</th>
    </tr>
  </thead>
  <tbody>
    {% for song in song_list %}
    <tr>
      <td><a href="{{ song.artist.get_absolute_url }}">{{ song.artist }}</a></td>
      <td><a href="{{ song.get_absolute_url }}">{{ song }}</a></td>
      <td>{{ song.uploaded_on|date }}</td>
      <td>
        <a class="button green" href="{% url song_accept song.id %}">Accept</a><a class="button orange" href="{% url song_reject song.id %}">Reject</a>
      </td>
      <td>
        <script language="JavaScript" src="{{ MEDIA_URL }}js/audio-player.js"></script>
        <object type="application/x-shockwave-flash" data="{{ MEDIA_URL }}flash/player.swf" id="audioplayer1" height="24" width="200">
          <param name="movie" value="{{ MEDIA_URL }}flash/player.swf">
          <param name="FlashVars" value="playerID=audioplayer1&soundFile={% url song_play song.id %}">
          <param name="quality" value="high">
          <param name="menu" value="false">
          <param name="wmode" value="transparent">
        </object>
      </td>
      <td><a>{{ song.artist.user }}</a></td>
      <td><a>{{ song.artist.user.first_name }} {{song.artist.user.last_name }}</a></td>
      <td>
        {{ song.artist.user.email }}><br />
        {{ song.artist.email_address }}
      </td>
      <td>
        {{ song.artist.address1 }}<br />
        {{ song.artist.address2 }}<br />
        {{ song.artist.city }}<br />
        {{ song.artist.state }}<br />
        {{ song.artist.zipcode }}<br />
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% digg_paginator %}
{% else %}
<p>
  There are no songs that need to be approved at this time.
</p>
{% endif %}
</article>



{% endblock %}
