#!/usr/bin/make -f
# -*- makefile -*-

include /usr/share/python/python.mk

PACKAGE_NAME=jukebox
PACKAGE_DIR=$(CURDIR)/debian/$(PACKAGE_NAME)
SITE_PACKAGES_DIR=$(PACKAGE_DIR)$(call py_libdir,$(shell pyversions -d))

configure: configure-stamp
configure-stamp:
	dh_testdir
	touch configure-stamp

build: build-stamp
build-stamp:
	dh_testdir
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	find . -name '*.py[co]' -delete
	rm -rf build-stamp configure-stamp
	rm -rf _build build

install: build
	dh_testdir
	dh_testroot
	dh_installdirs

	python setup.py install --no-compile --install-layout=deb --root $(PACKAGE_DIR)

    # Install the jukebox firmware.
	cp -rp $(CURDIR)/firmware $(PACKAGE_DIR)/usr/share/jukebox/

    # Install configuration file
	install -m 644 $(CURDIR)/etc/jukebox.conf $(PACKAGE_DIR)/etc/jukebox/jukebox.conf

    # Install backgrounds
	install -m 644 $(CURDIR)/jukebox/client/images/jukebox_wallpapers.xml $(PACKAGE_DIR)/usr/share/gnome-background-properties/jukebox_wallpapers.xml
	install -m 644 $(CURDIR)/jukebox/client/images/jukebox_offline.svg $(PACKAGE_DIR)/usr/share/backgrounds/jukebox_offline.svg

    # Install executables
	install -m 755 $(CURDIR)/bin/jukebox $(PACKAGE_DIR)/usr/bin/jukebox
	install -m 755 $(CURDIR)/bin/player $(PACKAGE_DIR)/usr/bin/jukebox-player
	install -m 755 $(CURDIR)/bin/random $(PACKAGE_DIR)/usr/bin/jukebox-random
	install -m 755 $(CURDIR)/bin/buttons $(PACKAGE_DIR)/usr/bin/jukebox-buttons
	install -m 755 $(CURDIR)/bin/force-play $(PACKAGE_DIR)/usr/bin/jukebox-force-play
	install -m 755 $(CURDIR)/bin/load-music $(PACKAGE_DIR)/usr/bin/jukebox-load-music
	install -m 755 $(CURDIR)/bin/save-power $(PACKAGE_DIR)/usr/bin/jukebox-save-power
	install -m 755 $(CURDIR)/bin/set-volume $(PACKAGE_DIR)/usr/bin/jukebox-set-volume
	install -m 755 $(CURDIR)/bin/diag-serial $(PACKAGE_DIR)/usr/bin/jukebox-diag-serial
	install -m 755 $(CURDIR)/bin/arduino-pulse-dtr $(PACKAGE_DIR)/usr/bin/jukebox-arduino-pulse-dtr

    # Fix permissions
	chmod 755 $(PACKAGE_DIR)/usr/lib/$(shell pyversions -d)/dist-packages/$(PACKAGE_NAME)/manage.py

    # Install symlinks
	ln -sf /usr/share/pyshared/$(PACKAGE_NAME)/manage.py $(PACKAGE_DIR)/usr/bin/jukebox-manage


binary-indep: install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_pysupport
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch: install

binary: binary-indep binary-arch

.PHONY: build clean binary-indep binary-arch binary install configure
