body {
    background: #ffffff url('http://as220.org/front/images/front/BG.png') repeat scroll 0 0;
    color: #333;
    margin:0;
    padding:0;
}

body, p, ol, ul, td {
    font-family:'Lucida Grande',Geneva,Verdana,Arial,Helvetica,sans-serif;
    font-size: 13px;
    line-height: 1.5em;
}

h1,h2 {
    font-family:Georgia,"Times New Roman",serif;
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 120%;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 10px;
}

a:link {
    color: #000;
}
a:visited {
    color: #000;
}

a img {
    background-color: transparent;
    border: 0px;
}

a:hover img {
    background-color: transparent;
    border: 0px;
}

a:hover {
    color: #333388;
}

a:visited img {
    background-color: transparent;
    border: 0px;
}


section#content h1 {
    border-bottom:1px solid #888888;
}

hr {
    border-top: 1px dashed #000;
    height: 1px;
}

footer {
    font-size: 80%;
}

header>img {
    display:inline;
}

div.horizontal-bar-caution {
    background:transparent url(../images/caution_stripe.gif) repeat-x scroll 0 0;
    height:25px;
}

div.horizontal-bar-grey-caution {
    background:transparent url(../images/grey_caution_stripe.gif) repeat-x scroll 0 0;
    height:25px;
}

.errorlist {
    color:#FF0000;
}

div.description a.more {
    display: block-inline;
}

ul.messages {
    display: none;
    font-size: 250%;
    list-style: none;
    margin: 0;
    padding: 0;
}

section#page {
    background:transparent url(http://as220.org/front/images/front/pagewrapperBG.png) repeat scroll 0 0;
    margin:0 auto;
    padding:0 21px;
    width:1000px;
}

section#wrapper {
    background-color:#EAE6DB;
    border-bottom:1px solid #DBD7CB;
    border-left:1px solid #DBD7CB;
    border-right:1px solid #DBD7CB;
    padding-top: 10px;
}

section#content {
}

section#content>article {
    background-color:#FFFCF1;
    border:1px solid #DBD7CB;
    padding: 10px;
    margin: 10px;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
}

section#page>nav {
    background:#ffffff url(../images/background_stripes_left_right.gif) repeat scroll 0 0;
    height: 100%;
    text-align: center;
}

section#page>nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

div.paginator {
    text-align: center;
}

div.clear {
    clear: both;
    margin: 0;
    padding: 0;
    height: 1px;
    overflow: hidden;
}

