body {
    background-color: #fff; color: #333;
    background:transparent url(http://as220.org/about/images/background2.gif) repeat scroll 0 0;
    font-family:Georgia,serif;
    font-size:13px;
    line-height:18px;
    margin:0;
    padding:0;
}

body, p, ol, ul, td {
    /* font-family: verdana, arial, helvetica, sans-serif; */
    font-size:   13px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 10px;
}

a {
    color: #000;
}

a:visited {
    color: #666;
}

a:hover {
    color: #fff; background-color:#000;
}

hr {
    border-top: 1px dashed #000;
    height: 1px;
}

footer {
    font-size: 80%;
}

header>img {
    display:inline;
}

section#content {
    background:transparent url(http://as220.org/about/images/background2_flip.gif) repeat scroll 0 0;
}

div.horizontal-bar-caution {
    background:transparent url(/jukebox/static_media/images/caution_stripe.gif) repeat-x scroll 0 0;
    height:25px;
}

div.horizontal-bar-grey-caution {
    background:transparent url(/jukebox/static_media/images/grey_caution_stripe.gif) repeat-x scroll 0 0;
    height:25px;
}

