
form div.field {
    clear: both;
    font-size: 80%;
    font-style: italic;
    padding-top: 10px;
    border-top: 1px dashed #ddd;
}

form div.field>label {
    float: left;
    font-size: 160%;
    font-style: normal;
    font-weight: bold;
    line-height: 1.25em;
    width: 150px;
    text-align: left;
}

form div.field>input,textarea,select {
    float: right;
    font-style: normal;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 470px;
}

form div.field>p {
}

form input#submit {
    float: right;
    font-size: 100%;
}

form p.required {
    color: #639b60;
    font-size: 95%;
    margin: 0;
    padding: 0;
}

