{% extends "base.html" %}

{% block title %}{{ super.block }} - 404 Not Found{% endblock %}


{% block content %}

<article>
  <p>
    Doh. Looks like someone has been playing with the webserver again and seems
    to have misplaced something. An email has been sent to Brandon and he'll
    check on this shortly to see if it was intended.
  </p>
  <p>
    If you think this might be in error please
    contact <a href="mailto:brandon@as220.org">Brandon Edens</a>.
  </p>
</article>

{% endblock %}

