<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ title }}</title>
    <meta name="author" content="Brandon Edens">
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <style>
      article, aside, dialog, figure, footer, header,
      hgroup, menu, nav, section { display: block; }
    </style>
    <link href="{{ MEDIA_URL }}css/base.css" rel="stylesheet" type="text/css" />
    {% block css %}{% endblock %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.3.2.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/base.js"></script>
    {% block js %}{% endblock %}
  </head>
  <body>
    <header>
      <img src="{{ MEDIA_URL }}images/AS220.png" alt="AS220" />
      <div class="horizontal-bar-caution">&nbsp;</div>
    </header>

    <nav>
      <ul>
        <li>
          <a href="">login</a>
        </li>
        <li>
          <a href="">about</a>
        </li>
        <li>
          <a href="">status</a>
        </li>
        <li>
          <a href="">currently playing</a>
        </li>
      </ul>
    </nav>

    <section id="wrapper">
      <section id="content">
        {% block content %}{% endblock %}
      </section>
    </section>

    <aside>
      aside
    </aside>

    <footer>
      <hr />
      <address>
        <a href="mailto:brandon@as220.org">Brandon Edens</a>,
        24 Dec 2009
      </address>
    </footer>
  </body>
</html>
