{% load random_artist %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>AS220 Jukebox{% block title %}{% endblock %}</title>
    <meta name="author" content="Brandon Edens">
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <style>
      article, aside, dialog, figure, footer, header,
      hgroup, menu, nav, section { display: block; }
    </style>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.4.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.tablesorter.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.corner.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/base.js"></script>
    {% block js %}{% endblock %}

    <link href="{{ MEDIA_URL }}css/base.css" rel="stylesheet" type="text/css" />
    <link href="{{ MEDIA_URL }}css/button.css" rel="stylesheet" type="text/css" />
    <link href="{{ MEDIA_URL }}css/layout.css" rel="stylesheet" type="text/css" />
    {% block css %}{% endblock %}
  </head>
  <body>
    <section id="page">
      <header>
        <img src="{{ MEDIA_URL }}images/AS220.png" alt="AS220" />
        <img src="{{ MEDIA_URL }}images/jukebox_music.png" alt="Jukebox Music" />
        <div class="horizontal-bar-caution">&nbsp;</div>
      </header>

      {% with random_artist as artist %}
      <a href="{{ artist.get_absolute_url }}">{{ artist }}</a>
      {% endwith %}



      <section id="left">
      <nav>
          {% if user.is_authenticated %}
          <p>
            <a href="{% url django.contrib.auth.views.logout %}">logout</a>
          </p>
          {% if perms.music.can_review_song %}
          <p>
            <a href="{% url review_songs %}">review</a>
          </p>
          {% endif %}
          <p>
            <a href="{% url profile_index %}">profile</a>
          </p>
          {% else %}
          <p>
            <a href="{% url registration.views.register %}">register</a>
          </p>
          <p>
            <a href="{% url django.contrib.auth.views.login %}">login</a>
          </p>
          {% endif %}
          <p>
            <a href="{% url search %}">search</a>
          </p>
          <p>
            <a href="{% url about %}">about</a>
          </p>
          <p>
            <a href="{% url faq %}">faq</a>
          </p>
          <p>
            <a href="{% url artist_list %}">artists</a>
          </p>
          <p>
            <a href="{% url song_list %}">song</a>
          </p>
        </ul>
      </nav>
      </section>

      <section id="wrapper">
        <section id="content">
          <article id="breadcrumbs">
            breadcrumbs: {% block breadcrumb %}<a href="{% url index %}">Home</a>{% endblock %}
          </article>

          {% if messages %}
          <article>
            <ul class="messages">
              {% for message in messages %}
              <li>{{ message }}</li>
              {% endfor %}
            </ul>
          </article>
          {% endif %}

          {% block content %}{% endblock %}
        </section>
      </section>


      <section id="right">
        <aside>
          {% block aside %}
          {% endblock %}
        </aside>
      </section>

      <footer>
        <hr />
        <address>
          <a href="mailto:brandon@as220.org">Brandon Edens</a>,
          19 Feb 2010
        </address>
      </footer>
    </section>
  </body>
</html>
