<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Test</title>
    <meta name="author" content="Brandon Edens">
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <style>
      article, aside, dialog, figure, footer, header,
      hgroup, menu, nav, section { display: block; }
    </style>
    <link href="{{ MEDIA_URL }}css/base.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{{ MEDIA_URL }}js/base.js"></script>
  </head>
  <body>
    <section>

      <header>
        <h1>Test</h1>
      </header>

      <nav>
      </nav>

      <section>
        <article>

        </article>
      </section>

      <aside>
      </aside>

      <footer>
        <address>
          <a href="mailto:brandon@rocky">Brandon Edens</a>,
          24 Dec 2009
        </address>
      </footer>

    </section>
  </body>
</html>
