section#page {
    margin:0 auto;
    padding:0 21px;
    width:1000px;
}

section#left {
    float: left;
    overflow: hidden;
    width: 150px;
}

section#right {
    float: right;
    overflow: hidden;
    width: 150px;
}


section#wrapper {
    float: left;
    width: 680px;
}

section#content {
    /*margin: 0 150px;*/
}

aside {
/*     float: left; */
/*     margin-left: -150px; */
/*     width: 150px; */
}

footer {
    clear: left;
    width: 100%;
}


